body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styles */
h1 {
  color: #333;
}

/* Button styling */
button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Table styling */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Table responsive */
@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }

  th, td {
      text-align: right;
  }

  td {
      position: relative;
      padding-left: 50%;
  }

  td::before {
      position: absolute;
      left: 6px;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-label);
  }

  th::before {
      content: "";
  }}

aside.collapsed nav ul li a {
  display: none;
}

aside.collapsed #sidebar-toggle::after {
    content: '\2261';
}

aside #sidebar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    padding: 5px;
}

@media (max-width: 768px) {
  aside {
      width: 80px;
  }

  aside.collapsed {
      width: 80px;
  }

  aside.collapsed #sidebar-toggle::after {
      content: '\2261';
  }
}
