<!DOCTYPE html>
<html>
<head>
    <title>Database Tables</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Database Tables</h1>
    <table>
        <thead>
            <tr>
                <th>Table Name</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <td><a href="{{ url_for('table_detail', table_name=table) }}">{{ table }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

